body {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
}
header {
  width: 93%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  height: 110px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 2px 2px #f6f7f9;
  border: 2px solid #f6f7f9;
}

header nav {
  row-gap: 20px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  column-gap: 30px;
}
header li {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  font-size: 12px;
}
header li img {
  width: 22px;
  height: 22px;
}
header ul li:nth-child(2) {
  position: relative;
}
header li span {
  position: absolute;
  top: -8px;
  right: 0px;
  color: #f5621f;
  font-weight: medium;
}
header li p {
  color: #111111;
}
.buy-now {
  width: 87%;
  margin: 0 auto;
  padding: 70px 0;
}

.buy-now .background {
  background: url("../images/Rectangle\ 3.png") no-repeat;
  background-position: center center;
  border-radius: 10px;
  height: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-now .arrow-left {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}
.buy-now .arrow-right {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
}
.buy-now .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}
.buy-now .scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5px;
  width: 68px;
}
.buy-now .first {
  width: 28px;
  background-color: #ffffff;
  height: 5px;
}
.buy-now .second {
  width: 12px;
  height: 5px;
  background-color: #9aa4a4;
}
.buy-now p {
  color: #ffffff;
  width: 354px;
  height: 96px;
  text-align: center;
  font-size: 24px;
}
button {
  width: 176px;
  height: 46px;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
.four-box {
  padding: 70px 0;
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.four-box .box1 {
  max-width: 277px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: #f1f7e9;
  border-radius: 10px;
  box-shadow: 0 18px 10px -10px rgb(116 180 44 / 20%);
}
.four-box .icon1-background {
  width: 44px;
  height: 44px;
  background-color: #e3f0d4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.four-box .box1 img {
  width: 18px;
  height: 18px;
}
.four-box .box1 p {
  width: 120px;
  font-size: 14px;
  font-weight: medium;
  color: #111111;
  line-height: 1.2;
}
.four-box .box1 span {
  color: #7bb735;
}
.four-box .box2 {
  max-width: 277px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: #feefe8;
  border-radius: 10px;
  box-shadow: 0 18px 10px -10px rgb(245 98 31 / 20%);
}
.four-box .icon2-background {
  width: 44px;
  height: 44px;
  background-color: #fddfd2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.four-box .box2 img {
  width: 18px;
  height: 18px;
}
.four-box .box2 p {
  width: 120px;
  font-size: 14px;
  font-weight: medium;
  color: #111111;
  line-height: 1.2;
}
.four-box .box2 span {
  color: #f5621f;
}
.four-box .box3 {
  max-width: 277px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: #ebf7fc;
  border-radius: 10px;
  box-shadow: 0 18px 10px -10px rgb(204 150 208 / 20%);
}
.four-box .icon3-background {
  width: 44px;
  height: 44px;
  background-color: #c8e8f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.four-box .box3 img {
  width: 18px;
  height: 18px;
}
.four-box .box3 p {
  width: 120px;
  font-size: 14px;
  font-weight: medium;
  color: #111111;
  line-height: 1.2;
}
.four-box .box3 span {
  color: #3cabe0;
}
.four-box .box4 {
  max-width: 277px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: #faf4fa;
  border-radius: 10px;
  box-shadow: 0 18px 10px -10px rgb(204 150 208 / 20%);
}
.four-box .icon4-background {
  width: 44px;
  height: 44px;
  background-color: #f1e1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.four-box .box4 img {
  width: 18px;
  height: 18px;
}
.four-box .box4 p {
  width: 120px;
  font-size: 14px;
  font-weight: medium;
  color: #111111;
  line-height: 1.2;
}
.four-box .box4 span {
  color: #cc96d0;
}
.animals {
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.dogg {
  max-width: 378px;
  width: 100%;
  height: 426px;
  border-radius: 10px;
  background-color: #f5621f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 30px;
}

.dogg-img {
  position: absolute;
  right: -5px;
  bottom: -5px;
}
.dogg p {
  max-width: 259px;
  width: 100%;
  color: white;
  font-size: 20px;
  line-height: 23px;
}
.dogg h2 {
  padding-top: 50px;
  font-size: 16px;
  color: #ffffff;
}
.animals-box {
  max-width: 782px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.animals-box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 20px;
}
.fish {
  max-width: 378px;
  width: 100%;
  height: 202px;
  position: relative;
  background-color: #3cabe0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.fish img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.fish p {
  color: white;
  font-size: 21px;
  width: 271px;
  padding-top: 50px;
  padding-left: 20px;
  line-height: 23px;
}
.fish button {
  margin-top: 30px;
  margin-left: 145px;
}
.parrot {
  max-width: 378px;
  width: 100%;
  height: 202px;
  position: relative;
  background-color: #74b42c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.parrot img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
}
.parrot button {
  margin-top: 30px;
}
.parrot p {
  color: white;
  font-size: 20px;
  padding-top: 50px;
  width: 262px;
  text-align: center;
  line-height: 23px;
}
.cat {
  width: 100%;
  max-width: 782px;
  height: 200px;
  border-radius: 10px;
  background-color: #f5ad00;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cat .cat-img1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cat-img2 {
  position: absolute;
  right: -30px;
  bottom: -44px;
}
.cat p {
  color: white;
  font-size: 20px;
  padding-top: 50px;
  width: 262px;
  text-align: center;
  line-height: 23px;
}
.cat button {
  margin-top: 10px;
}
.top-product {
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
  padding-top: 70px;
}
.top-product-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-product h3 {
  font-size: 14px;
  color: #9c9c9c;
}
.top-product h2 {
  padding-left: 90px;
  font-size: 28px;
  color: #111111;
}
.top-product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.product-arrow-left {
  padding-left: 20px;
}
.product-arrow-right {
  padding-right: 20px;
}
.product {
  max-width: 277px;
  width: 100%;
  height: 441px;
  position: relative;

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.product .procent {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #f5621f;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .size1 {
  width: 105px;
  height: 35px;
  background-color: #f8f8f8;
  position: absolute;
  left: 30px;
  top: 284px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .size2 {
  width: 105px;
  height: 35px;
  background-color: #e7e7e7;
  position: absolute;
  left: 142px;
  top: 284px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .size3 {
  width: 105px;
  height: 35px;
  background-color: #f8f8f8;
  position: absolute;
  left: 30px;
  top: 326px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .size4 {
  width: 105px;
  height: 35px;
  background-color: #f8f8f8;
  position: absolute;
  left: 142px;
  top: 326px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-price {
  width: 98px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 32px;
  bottom: 32px;
}
.product-new-price {
  color: #f5621f;
  font-size: 24px;
}
.product-old-price {
  font-size: 12px;
  text-decoration: line-through;
}
.buy-cart1 {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.out-of-stock {
  position: absolute;
  bottom: 40px;
  left: 45px;
  font-size: 14px;
  color: #111111;
}

.price2 {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-size: 24px;
}
.price4 {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-size: 24px;
}
.added-to-cart {
  position: absolute;
  bottom: 32px;
  right: 20px;
  background-color: #f5621f;
  color: white;
  width: 114px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.product p {
  font-size: 12px;
  color: #6e6e6e;
  position: absolute;
  left: 60px;
  top: 236px;
}
.product h3 {
  /* padding-left: 50px; */
  font-size: 18px;
  color: #111111;
  text-align: center;
}
.product-picture {
  position: absolute;
  background-color: white;
  top: 30px;
}
.advertisment {
  width: 87%;
  margin: 0 auto;
  padding-top: 70px;
}
.advertis-containers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}
.advertis-containers .acontainer1 {
  max-width: 378px;
  width: 100%;
  height: 500px;
  position: relative;
}

.advertis-containers .acontainer1 p {
  text-align: center;
  float: right;
  width: 200px;
  height: 64px;
  font-size: 24px;
  padding-top: 10px;
}
.advertis-containers .acontainer1 span {
  background: linear-gradient(
    to right,
    orange,
    rgb(21, 244, 177),
    red,
    rgb(4, 156, 4),
    rgb(214, 126, 19),
    rgb(231, 9, 231),
    rgba(182, 168, 168, 0.856),
    rgb(17, 104, 17),
    black
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.acontainer1 .cards {
  position: absolute;
  bottom: -55px;
}
.acontainer1 p {
  line-height: 30px;
}
.acontainer2 {
  max-width: 378px;
  width: 100%;
  height: 500px;

  position: relative;
  background-color: #fee02e;
}
.acontainer2 p {
  width: 220px;
  height: 55px;
  padding-top: 70px;
  padding-left: 50px;
  line-height: 30px;
  color: #111111;
  font-size: 22px;
}
.acontainer2 button {
  margin-top: 70px;
  margin-left: 50px;
}
.acontainer2 .rabbit-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.acontainer3 {
  max-width: 378px;
  width: 100%;
  height: 500px;
  background-color: #ffffff;
}
.acontainer3 p {
  line-height: 23px;
  color: #111111;
  font-size: 22px;
  width: 160px;
  text-align: center;
  line-height: 30px;
}
.abox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 378px;
}
.abox-left-arrow img {
  width: 80px;
  height: 80px;
}
.abox-right-arrow img {
  width: 80px;
  height: 80px;
}
.pedigree {
  width: 200px;
  height: 270px;
}
.acontainer3 p {
  padding-top: 40px;
  padding-left: 10px;
}
.acontainer3 h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.acontainer3 button {
  margin-left: 100px;
  margin-top: 20px;
  background-color: #111111;
  color: #ffffff;
}
.turtle {
  width: 87%;
  margin: 0 auto;
  background-color: #f5ad00;
  position: relative;
  height: 200px;
  border-radius: 10px;
}
.turtle img {
  position: absolute;
  bottom: -100px;
  right: 100px;
  width: 600px;
  height: 350px;
}
.turtle p {
  color: white;
  max-width: 534px;
  width: 100%;
  padding-left: 40px;
  font-size: 32px;
  padding-top: 46px;
}
.turtle button {
  margin-left: 40px;
  margin-top: 20px;
}
.latest-update {
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
  padding: 70px 0;
}
.latest-update h2 {
  padding-left: 90px;
  font-size: 28px;
  color: #111111;
}
.buy-cart2 {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-brands {
  width: 100%;
  margin: 0 auto;
  max-width: 1366px;
}
.all-brands h3 {
  padding-left: 90px;
  padding-top: 70px;
  padding-bottom: 35px;
  font-size: 28px;
  color: #111111;
}
.brands-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1366px;
}
.brands {
  max-width: 150px;
  width: 100%;
  height: 90px;
}
footer {
  width: 87%;
  margin: 0 auto;
  padding: 70px 0;
}
.footer-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 213px;
}
.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 378px;
  height: 213px;
}
.logo-text p {
  color: #6e6e6e;
  font-size: 12px;
  line-height: 23px;
}
.category {
  width: 95px;
}
.category h2 {
  font-size: 14px;
  color: #111111;
  padding-bottom: 10px;
}
.category ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  color: #6e6e6e;
  font-size: 12px;
}
.menu {
  width: 124px;
}
.menu h2 {
  font-size: 14px;
  color: #111111;
  padding-bottom: 10px;
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  color: #6e6e6e;
  font-size: 12px;
}
.menu p {
  color: #6e6e6e;
  font-size: 12px;
  line-height: 23px;
}
.contact {
  width: 176px;
}
.contact h2 {
  font-size: 14px;
  color: #111111;
  padding-bottom: 10px;
}
.contact ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  color: #6e6e6e;
  font-size: 12px;
}
.visa-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.mtavari:hover {
  background-color: #111111;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}
.about-us:hover {
  background-color: #111111;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}
.kontakti:hover {
  background-color: #111111;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}
.mobile-footer {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-top: 10px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-footer li {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  align-items: center;
}
.mobile-burger {
  background-color: #74b42c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1920px) {
  .mobile-footer {
    display: none;
  }
}
@media (max-width: 1024px) {
  .mobile-footer {
    display: none;
  }
  .four-box {
    justify-content: center;
    gap: 10px;
  }
  .animals {
    justify-content: center;
    align-items: center;
  }
  .top-product-titles h3 {
    display: none;
    justify-content: center;
    align-items: center;
  }
  .top-product-container {
    justify-content: center;
    gap: 10px;
  }
  .advertis-containers {
    justify-content: center;
    row-gap: 40px;
    column-gap: 10px;
  }
  .turtle img {
    right: -70px;
  }
  .all-brands h3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brands-arrow-left {
    display: none;
  }
  .brands-arrow-right {
    display: none;
  }
  .brands-container {
    flex-direction: column;
    row-gap: 10px;
  }
  .product-arrow-left {
    display: none;
  }
  .product-arrow-right {
    display: none;
  }
}
@media (max-width: 480px) {
  header nav {
    display: none;
  }
  header .logo {
    display: none;
  }
  .background .arrow-left {
    display: none;
  }
  .background .arrow-right {
    display: none;
  }
  .turtle img {
    width: 300px;
    height: 175px;
    bottom: -50px;
  }

  .mobile-footer {
    display: block;
  }

  .turtle p {
    padding-top: 0;
    padding-left: 20px;
  }
  .footer-container {
    display: none;
  }

  .mobile-footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }
  .brands-container {
    display: none;
  }
  .all-brands h3 {
    display: none;
  }
  .visa-img {
    justify-content: center;
  }
  .cat-img1 {
    display: none;
  }
  .turtle {
    width: 350px;
  }
  .acontainer2 {
    width: 300px;
  }
  .rabbit-img {
    width: 300px;
  }
  .turtle {
    height: 300px;
  }
  .turtle img {
    right: 0px;
  }
}
